@charset "UTF-8";
/**
todo-webfont Webfont
*/
@font-face {
  font-family: "todo-webfont";
  src: url("../fonts/todo-webfont.woff2?1653471785774") format("woff2"), url("../fonts/todo-webfont.woff?1653471785774") format("woff");
  font-weight: normal;
  font-style: normal;
}
[class^=tdi-]:before,
[class*=tdi-]:before {
  font-family: "todo-webfont";
  display: inline-block;
  vertical-align: top;
  line-height: 1;
  font-weight: normal;
  font-style: normal;
  speak: none;
  text-decoration: inherit;
  font-size: 20px;
  text-transform: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/*
Glyphs list
*/
.tdi-account-multiple-plus:before {
  content: "";
}

.tdi-add-subtask-custom:before {
  content: "";
}

.tdi-calendar-outline:before {
  content: "";
}

.tdi-checkbox-blank-circle-outline:before {
  content: "";
}

.tdi-checkbox-marked-circle:before {
  content: "";
}

.tdi-content-copy:before {
  content: "";
}

.tdi-content-duplicate:before {
  content: "";
}

.tdi-format-indent-decrease:before {
  content: "";
}

.tdi-format-indent-increase:before {
  content: "";
}

.tdi-magnify:before {
  content: "";
}

.tdi-pound:before {
  content: "";
}

.tdi-shape-square-plus:before {
  content: "";
}

.tdi-delete:before {
  content: "";
}

.webix_todo_project_presentation .webix_template {
  line-height: 30px;
  padding: 0 16px;
  letter-spacing: 0;
  cursor: pointer;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.webix_todo_project_presentation .webix_template .webix_icon {
  color: #313131;
}

.webix_todo_project_editor input,
.webix_todo_project_editor input:focus,
.webix_todo_search_input input,
.webix_todo_search_input input:focus {
  box-shadow: none;
  border-color: transparent;
  padding-left: 13px;
  background-color: transparent;
}

.webix_todo_project_suggest .webix_list_item {
  position: relative;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.webix_todo_project_suggest .webix_list_item,
.webix_todo_project_suggest .webix_list_item.webix_selected {
  box-shadow: none;
  border-color: transparent;
  padding-left: 16px;
  padding-right: 32px;
}
.webix_todo_project_suggest .webix_list_item:hover,
.webix_todo_project_suggest .webix_list_item.webix_selected {
  color: #475466;
  background-color: #f4f5f9;
}
.webix_todo_project_suggest .webix_list_item.webix_selected::after {
  content: "";
  font-family: "Webix Material Icons";
  font-size: 20px;
  height: 20px;
  width: 20px;
  line-height: 1;
  display: inline-block;
  text-align: center;
  color: #313131;
  position: absolute;
  right: 8px;
  top: 50%;
  margin-top: -10px;
}

.webix_menu.webix_todo_project_actions .webix_list_item {
  padding-left: 8px;
}
.webix_menu.webix_todo_project_actions .webix_list_icon {
  color: #313131;
  margin-right: 8px;
}
.webix_menu.webix_todo_project_actions .webix_list_item:hover,
.webix_menu.webix_todo_project_actions .webix_list_item.webix_selected {
  color: #475466;
  background-color: #f4f5f9;
}

.webix_todo_toolbar .webix_el_icon .webix_icon {
  color: #313131;
}

.webix_icon_button:hover .webix_todo_active_search,
.webix_el_icon .webix_icon.webix_todo_active_search {
  color: #1ca1c1;
}

.webix_todo_text {
  display: inline-block;
  box-sizing: border-box;
  padding: 8px;
  line-height: 20px;
  white-space: pre-wrap !important;
}

.webix_todo_text.webix_todo_completed {
  color: #94a1b3;
  text-decoration: line-through;
}

.webix_todo_due_date {
  display: inline-block;
  line-height: 20px;
  color: #55cd97;
  text-decoration: none;
  font-weight: 500;
  font-size: 12px;
}

.webix_todo_due_date .webix_icon {
  font-size: 16px;
  margin-right: 4px;
  vertical-align: middle;
}
.webix_todo_due_date .webix_icon::before {
  font-size: 16px;
  line-height: 14px;
}

.webix_todo_due_date.webix_todo_inactive_date {
  color: #94a1b3;
}

.webix_todo_due_date.webix_todo_incomplete {
  color: #ff5c4c;
}

.webix_todo_checkbox {
  display: inline-block;
  width: 20px;
  height: 100%;
  vertical-align: top;
}
.webix_todo_checkbox .webix_icon {
  color: #313131;
  cursor: pointer;
}
.webix_todo_checkbox .webix_icon.tdi-checkbox-marked-circle {
  color: #55cd97;
}

.webix_todo_right {
  float: right;
}

.webix_todo_hotkey {
  color: #94a1b3;
}

.webix_todo_complex_col .webix_cell {
  text-align: right;
}

.webix_todo_users {
  display: inline-block;
  margin-right: 4px;
}

.webix_todo_user {
  display: inline-block;
  box-sizing: border-box;
  width: 28px;
  height: 28px;
  line-height: 24px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
  border-radius: 50%;
  font-weight: 500;
  color: #ffffff;
  background-color: #55cd97;
  border: 2px solid #ffffff;
}

.webix_todo_action {
  display: inline-block;
  width: 28px;
  height: 28px;
  line-height: 28px;
  text-align: center;
  border-radius: 50%;
  cursor: pointer;
  margin-right: 4px;
}

.webix_todo_action .webix_icon {
  color: #313131;
}

.webix_todo_action:hover {
  background-color: #f4f5f9;
}

.webix_row_select .webix_todo_action:hover {
  background-color: #e0e3ee;
}

.webix_todo_count {
  color: #94a1b3;
  font-weight: 500;
  margin-right: 4px;
}

.webix_todo_user + .webix_todo_user {
  margin-left: -12px;
}

.webix_todo_textarea {
  box-sizing: border-box;
  background-color: transparent;
  pointer-events: none;
}

.webix_todo_textarea textarea {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  resize: none;
  color: inherit;
  background-color: #f4f5f9;
  font-size: inherit;
  font-family: inherit;
  letter-spacing: inherit;
  border: none;
  line-height: 20px;
  padding: 7px 8px 0;
  margin: 1px 0 0;
  pointer-events: all;
}

.webix_todo_add .webix_template {
  padding: 0 0 0 20px;
  color: #1ca1c1;
  line-height: 30px;
  cursor: pointer;
}
.webix_todo_add .webix_template:hover {
  color: #17839d;
}
.webix_todo_add .webix_template .webix_icon {
  margin-right: 8px;
}

.webix_todo_user_suggest .webix_list_item {
  position: relative;
  padding-left: 8px;
  padding-right: 32px;
  border-color: transparent;
}
.webix_todo_user_suggest .webix_todo_user {
  margin-right: 4px;
}
.webix_todo_user_suggest .webix_list_item:hover,
.webix_todo_user_suggest .webix_list_item.webix_todo_checked {
  color: #475466;
  background-color: #f4f5f9;
}
.webix_todo_user_suggest .webix_list_item.webix_todo_checked::after {
  content: "";
  font-family: "Webix Material Icons";
  font-size: 20px;
  height: 20px;
  width: 20px;
  line-height: 1;
  display: inline-block;
  text-align: center;
  color: #313131;
  position: absolute;
  right: 8px;
  top: 50%;
  margin-top: -10px;
}

.webix_todo_context .webix_list_item {
  border-color: transparent;
}
.webix_todo_context .webix_list_item:hover {
  color: #475466;
  background-color: #f4f5f9;
}
.webix_todo_context .webix_icon {
  vertical-align: middle;
  margin-right: 8px;
  color: #313131;
}
.webix_todo_context .wxi-menu-right {
  line-height: inherit;
  margin: 0;
}

.webix_list_item.webix_todo_group_end {
  border-bottom: 1px solid #edeff0;
}

.webix_list_item.webix_todo_action_remove:hover,
.webix_todo_action_remove,
.webix_todo_action_remove .webix_icon {
  color: #ff5c4c;
}

.webix_cell.webix_todo_text_cell {
  white-space: nowrap !important;
}

.webix_todo_workspace .webix_cell {
  padding: 0;
}
.webix_todo_workspace .webix_todo_complex_col .webix_cell {
  padding-right: 4px;
}
.webix_todo_workspace .webix_ss_body .webix_column > div,
.webix_todo_workspace .webix_ss_body .webix_table_cell {
  border-color: transparent;
}
.webix_todo_workspace .webix_cell.webix_todo_ancestor:not(:first-child) {
  border-bottom: none;
  border-top: 1px solid #edeff0;
}
.webix_todo_workspace .webix_cell.webix_todo_ancestor:not(:first-child) .webix_todo_text {
  padding-top: 7px;
}
.webix_todo_workspace .webix_select_mark > div.webix_row_select {
  box-shadow: none;
}
.webix_todo_workspace .webix_column > div.webix_cell_select,
.webix_todo_workspace .webix_column > div.webix_column_select,
.webix_todo_workspace .webix_column > div.webix_row_select {
  color: #475466;
  background-color: #f4f5f9;
}

.webix_todo_hashtag {
  cursor: pointer;
  color: #1ca1c1;
}